@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

/*light color mode */
:root {
  --clr--background: white;
  --clr--Navopacity: rgba(26, 28, 32, 0.85);
}

/*dark mode */
.dark-mode {
  --clr--background: #1b1e24;
  --clr--Navopacity: rgba(0, 0, 0, 0.863);
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat'sans-serif;
  text-align: center;
  background: var(--clr--background);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
}

h3 {
  font-family: 'Ubuntu' !important;
  color: #00818a !important;
  font-size: 2rem !important;
  line-height: 1 !important;
  font-weight: bold !important;
}

/* container fluid common to all */
.container-fluid {
  padding: 5% 8%;
}

/* Navbar */
.navbar {
  align-items: flex-end;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: var(--clr--Navopacity);

}

.navbar-brand {
  width: 3%;
  height: auto;
}

.navbar-brand:hover {
  cursor: default;
}

.name-btn:hover {
  cursor: pointer;
}

.navbar-nav {
  margin-right: 10px;
  margin-left: auto;
}

.nav-item {
  padding: 0 8px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 1.4rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.877) !important;
}

.nav-link:hover {
  color: #ffcd60 !important;
}

.nav-txt {
  font-size: 1.2rem;
}

.nav-txt:hover {
  color: rgba(255, 255, 255, 0.877) !important;
  cursor: default;
}

.btn-account {
  font-size: 1.3rem;
}


/* Dark mode button */
/*dark mode */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top:1vh;
  margin-left:20vw;

}

.switch p{
    color:white;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px cadetblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*// Dark mode button */


/* Club heading */
.big-heading {
font-family: 'Fira Sans', sans-serif;
  font-size: 3.2rem;
  padding: 3%;
  line-height: 1;
}
/* buttons css */
.admin-btn{
font-size: 1.5rem;
}

/* Footer section */

/* footer icons and text */
.icon-footer {
  padding: 1% 2%;
  font-size: 1.5rem;
}

.icon-footer:hover {
  transform: scale(1.2);
}

.copyright-msg {
  color: #eeeeee;
}

.footer-link {
  color: #fff !important;
}

.footer-link:hover {
  color: #ffcd60 !important;
}

#footer {
  background-image: -moz-linear-gradient(top, #00818a, #07b061dc);
  background-image: -webkit-linear-gradient(top, #00818a, #42b8b2);
  background-image: -ms-linear-gradient(top, #00818a, #07b061e5);
  background-image: -o-linear-gradient(top, #00818a, #07b061e5);
}

/* footer end */
