html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat'sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Ubuntu' !important;
  color: #00818a !important;
  font-size: 2.5rem !important;
  line-height: 1.2 !important;
  font-weight: bold !important;
}

hr {
  visibility: hidden;
}

p {
  color: #8f8f8f;
}

ul {
  color: #797a7e;
  font-size: 1.1rem;
  padding: inherit;
}

/* container fluid common to all */
.container-fluid {
  padding: 8% 12%;
}

/* Coloured sections */
.colored-section {
  color: #eeeeee;
}

.white-section {
  background-color: #fff;
}

/* Navbar */
.navbar {
  align-items: flex-end;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(26, 28, 32, 0.85);
}

.navbar-brand {
  width: 3%;
  height: auto;
}

.navbar-nav {
  margin-right: 10px;
  margin-left: auto;
}

.nav-item {
  padding: 0 11px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.877) !important;
}

.nav-link:hover {
  color: #ffcd60 !important;
}

.btn-account {
  font-size: 1.3rem;
}

/* title img */
.top {
  padding: 0px;
  background-image: url('../images/manipal2.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  width: 100%;
  height: 63vh;
  align-items: flex-end;
}

/* About Us */
.testimonial-block-vertical {
  background-color: rgba(246, 218, 99, 0.9);
}

.testimonial-block-vertical-quote {
  margin: 30px;
  background: rgba(23, 121, 186, 0.25);
  padding: 1rem;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 #52575d, 0 1px 8px 0 #52575d !important;
  margin-bottom: 1.875rem;
  position: relative;
}

.testimonial-block-vertical-quote p {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.testimonial-block-vertical-quote::after {
  content: '';
  bottom: -1.25rem;
  left: 2.25rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.25rem 1.125rem 0 1.125rem;
  border-color: #52575d transparent transparent transparent;
  position: absolute;
}

.testimonial-block-vertical-person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.65rem;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
  font-family: 'Ubuntu' !important;
  color: #00818a !important;
  font-size: 1.8rem !important;
  line-height: 0.8rem !important;
  font-weight: bold !important;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: 18px;
  color: #393e46 !important;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 0.65rem;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 #52575d, 0 6px 15px 0 #52575d;
}

.card-outer {
  background-image: url('../images/bg-trial.jpeg');
  background-size: cover;
  /* margin: 5%; */
}

/* Club section */
.club-list {
  text-align: left;
  width: 80%;
  margin: auto;
  padding: 2% 3%;
}

.tech-img {
  width: 100%;
  float: left;
  padding: 0rem;
}

.cul-img {
  width: 100%;
  float: right;
  padding: 0rem;
}

.tech-list {
  overflow-y: scroll;
  height: 40%;
}

/* scrollbar classes */
.scrollbar-custom {
  position: relative;
  overflow-y: scroll;
  height: 250px;
}

.scrollbar-dusty-grass::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #49beb7 0%, #1d2d50 100%);
  background-image: linear-gradient(120deg, #49beb7 0%, #1d2d50 100%);
}

.thin::-webkit-scrollbar {
  width: 6px;
}

/* Button */
.btn-area {
  margin-top: 110px;
  margin-bottom: 0px;
  font-family: 'Ubuntu';
  font-weight: 900;
  color: #fff;
  /* font-size: 28px; */
  text-align: center;

}

.btn-clubs {
  /* width: 25px; */
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  padding: 10px 20px;
  /* cursor: pointer; */
  /* margin: 20px; */
  height: 57px;
  /* text-align:center; */
  border-radius: 11px;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}



.btn-clubs:hover {
  background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(1.1);

}

.btn-clubs:focus {
  outline: none;
}

.btn-clubs.color-6 {
  background-image: linear-gradient(to right, #00818a, #07a8b0, #0b8a84, #07b061dc);
  box-shadow: 0 4px 15px 0 #003e42;
}


.btn-link{

  text-decoration: none;
  color: #fff;

}

.btn-link:hover{

  text-decoration: none;
  color: #fff;

}

/* FOOTER SECTION */
/* up button */
.arrow-btn-item {
  margin: 5%;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.arrow {
  font-family: 'Ubuntu';
  background-image: linear-gradient(to right, #222831, #222831, #393e46, #686d76);
  position: relative;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 2%;

  

  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 100px;
  height: 50px;
  /* box-shadow: 0 4px 15px 0 #003e42; */
  line-height: 60px;
  border: 2px solid $color;
  border-radius: 20px;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}

.arrow:hover, .arrow.auto {
  width: 50px;
  margin-left: -30px;
  border-radius: 40px;
  color: rgba(179, 195, 58, 0);
  text-decoration: none;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}

.arrow:hover:before, .arrow.auto:before {
  /* animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s; */
  /* animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s; */
}

.arrow:hover:after, .arrow.auto:after {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  /* animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s; */
}

.arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #fff;
  width: 5px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  transform: translateY(50px);
}

.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  color: #fff;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -13px;
  transform: translateY(50px) rotateZ(45deg);
}

.arrow:hover {
  transform: scale(1.1);
}

@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }

  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}

@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(-70px);
  }
}

/* footer icons and text */
.icon-footer {
  padding: 1% 2%;
  font-size: 1.5rem;
}

.icon-footer:hover {
  transform: scale(1.2);
}

.copyright-msg {
  color: #eeeeee;
}

.footer-link {
  color: #fff;
}

.footer-link:hover {
  color: #ffcd60;
}

#footer {
  background-image: -moz-linear-gradient(top, #00818a, #07b061dc);
  background-image: -webkit-linear-gradient(top, #00818a, #42b8b2);
  background-image: -ms-linear-gradient(top, #00818a, #07b061e5);
  background-image: -o-linear-gradient(top, #00818a, #07b061e5);
}
/* footer end */
