@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body {
  font-family: 'Montserrat'sans-serif;
  text-align: center;

  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
}

h1 {
  /* background: var(--clr-nav); */
  font-size: 2.5rem;
  font-weight: bold;
  /* color: var(--clr-fontnav); */
  margin: 2rem 0;
}

h3 {
  font-family: 'Ubuntu' !important;
  color: #00818a !important;
  margin: 50px;
  font-size: 2rem !important;
  line-height: 1.2 !important;
  font-weight: bold !important;
}

/* container fluid common to all */
.container-fluid {
  padding: 5% 8%;
}

/* Title section */
.title-section {
  background-image: url(../images/bg-new.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  background-color: #0f3057
}



/* Navbar */
.navbar {
  align-items: flex-end;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(26, 28, 32, 0.85);
}

.navbar-brand {
  width: 3%;
  height: auto;
}

.navbar-nav {
  margin-right: 10px;
  margin-left: auto;
}

.nav-item {
  padding: 0 11px;
  margin-top: 0px;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav-link {
  color: rgba(255, 255, 255, 0.877) !important;
}

.nav-link:hover {
  color: #ffcd60 !important;
}

.btn-account {
  font-size: 1.3rem;
}

.big-heading {
  font-family: "Ubuntu";
  font-size: 3.2rem;
  padding-top: 5%;
  line-height: 1.2;
  font-weight: bold;
}

/* Navbar */

/* Club heading */


.design {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 22vh);
  margin-top: 10vh;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 6s infinite;
  -webkit-animation: blink 6s infinite;
  padding: 2vw 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
 
 
}




@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 5px 5px 10px #ffa500, 0 0 15px #c79113, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {

  text-shadow: 5px 5px 10px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}


/* Club heading */

/* About Us */
.testimonial-block-vertical {
  background-color: rgba(246, 218, 99, 0.9);
/* background-color: #ffbb91; */
}

.testimonial-block-vertical-quote {
  margin: 30px;
  background: rgba(23, 121, 186, 0.25);
  padding: 1rem;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 #52575d, 0 1px 8px 0 #52575d !important;
  margin-bottom: 1.875rem;
  position: relative;
}

.testimonial-block-vertical-quote p {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.testimonial-block-vertical-quote::after {
  content: '';
  bottom: -1.25rem;
  left: 2.25rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.25rem 1.125rem 0 1.125rem;
  
  border-color: #52575d transparent transparent transparent;
  position: absolute;
}

.testimonial-block-vertical-person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.65rem;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
  
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
  font-family: 'Ubuntu' !important;
  color: #00818a !important;
  font-size: 1.8rem !important;
  line-height: 0.8rem !important;
  font-weight: bold !important;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: 18px;
  color: #393e46 !important;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 0.65rem;
}
/* About Us */


/* galleryName */

.loading {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  text-transform:uppercase;
  width:20vw;
  text-align:center;
  line-height:50px;
  font-size: 1.5rem;
  position:relative;
  left:5vw;
  right:0;
  top:10vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  transform:translateY(-50%);
}

.loading span {
  position:relative;
  z-index:999;
  color:rgb(12, 12, 12);
}
.loading:before {
  content:'';
  background:#05b3a4;
  width:190px;
  height:50px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  
  animation:2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
  0%   {transform:translateX(-14px);}
  50%  {transform:translateX(14px);}
  100% {transform:translateX(-14px);}
}


.loading:after {
  content:'';
  background:#ffe600;
  width:14px;
  height:65px;
  display:block;
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  opacity:0.8;
  
  animation:2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
  0%   {transform:translateX(-70px);}
  50%  {transform:translateX(70px);}
  100% {transform:translateX(-70px);}
}

/* galleryName */



/* Club Images */
.grid-background{
     background-image: -moz-linear-gradient(top, #ffffff96, #ffffffa9);
}

.grid {
  display: grid;
  grid-template-rows: 
    repeat(4, 170px);
  grid-template-columns: 
    repeat(3, 1fr);
  grid-gap: 5px;
}

.item:nth-child(1) {
  grid-row: 1 / 4;
   -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 3 / 5;
  -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(5) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  -webkit-animation:scaledown 1s linear;
  -moz-animation:scaledown 1s linear;
  animation:scaledown 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

/* styling code */

.grid {
  margin:20px auto;
  max-width:80vw;
     
}

.grid > .item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(1):hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(2):hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(3):hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(4):hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}

.item:nth-child(5):hover{
   z-index:100;
  -webkit-animation:scale 1s linear;
  -moz-animation:scale 1s linear;
  animation:scale 1s linear;
  transform-origin:50% 50%;
  animation-fill-mode: forwards;
}


@keyframes scale{
  0%{
    transform:scale(1.0);
  }
  100%{
    transform:scale(1.1);
    -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
-moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  }
}

@keyframes scaledown{
  0%{
    transform:scale(1.1);
  }
   100%{
    transform:scale(1.0);
  }
}


/* Club Images */

/* members */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.container {
  display: flex;
  
}
.card {
 
  margin: 3rem;
  width: 300px;
  height: 550px;
  padding: 1.5rem 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  position: relative;
}

.members{
  border-radius: 50%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.card:hover {
  transform: translateY(-5px);
}
.card .title {
  color: white;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: 0.2s;
  cursor: pointer;
}
.card .title--legendary {
  background-color: #f4d03f;
}
.card .title--legendary:hover {
  box-shadow: 0 0 12px rgba(244, 208, 63, 0.8);
}
.card .title--epic {
  background-color: #8c14fc;
}
.card .title--epic:hover {
  box-shadow: 0 0 12px rgba(140, 20, 252, 0.8);
}
.card .title--common {
  background-color: #2ecc71;
}
.card .title--common:hover {
  box-shadow: 0 0 12px rgba(46, 204, 113, 0.8);
}
.card .desc {
  text-align: center;
}
.card .actions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card .actions button {
  padding: 0.5rem 0.8rem;
 cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  outline: 0;
  transition: background-color 0.4s, color 0.4s, transform 0.1s;
}
.card .actions button:hover {
  color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
}
.card .actions button:active {
  transform: scale(0.95);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
.card .actions__like:hover {
  background-color: #00abb1;
}
.card .actions__trade:hover {
  background-color: #3498db;
}
.card .actions__cancel:hover {
  background-color: #c02b64;
}
p {
  margin-top: 1rem;
  color: #484848;
}
a:link, a:visited {
  text-decoration: none;
  color: #2574a9;
}
.active {
  background-color: #00b16a;
}
button::-moz-focus-inner {
  border: 0;
}


/* members */




/* FOOTER SECTION*/
/* up button */
.arrow-btn-item {
  margin: 5%;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.arrow {
  font-family: 'Ubuntu';
  background-image: linear-gradient(to right, #222831, #222831, #393e46, #686d76);
  position: relative;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 2%;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 100px;
  height: 50px;
  /* box-shadow: 0 4px 15px 0 #003e42; */
  line-height: 60px;
   border: 2px solid #1dcf7cdc;
  border-radius: 20px;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 0.25s ease-in-out, color 0.25s ease-in-out;
}

.arrow:hover, .arrow.auto {
  width: 50px;
  margin-left: -30px;
  border-radius: 40px;
  color: rgba(179, 195, 58, 0);
  text-decoration: none;
  transition: width 0.5s ease-in-out, margin 0.5s ease-in-out, border-radius 1s 0.25 ease-in-out, color 0.25s ease-in-out 0.25s;
}



.arrow:hover:after, .arrow.auto:after {
  animation: tipUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  /* animation: lineUp 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s; */
}

.arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  background: #fff;
  width: 5px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -3px;
  transform: translateY(50px);
}

.arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  color: #fff;
  border-top: 5px solid;
  border-left: 5px solid;
  transform: rotateZ(45deg);
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -13px;
  transform: translateY(50px) rotateZ(45deg);
}

.arrow:hover {
  transform: scale(1.1);
}

@keyframes tipUp {
  0% {
    transform: translateY(50px) rotateZ(45deg);
  }

  100% {
    transform: translateY(-70px) rotateZ(45deg);
  }
}

@keyframes lineUp {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(-70px);
  }
}

/* footer icons and text  */
.icon-footer {
  padding: 1% 2%;
  font-size: 1.8rem;
}
.icon-footer:hover{
  transform: scale(1.2);
}

.copyright-msg {
  color: #eeeeee;
}

.footer-link {
  color: #fff  !important;
}

.footer-link:hover {
  color: #ffcd60 !important;
}

#footer {
  background-image: -moz-linear-gradient(top, #00818a, #07b061dc);
  background-image: -webkit-linear-gradient(top, #00818a, #42b8b2);
  background-image: -ms-linear-gradient(top, #00818a, #07b061e5);
  background-image: -o-linear-gradient(top, #00818a, #07b061e5);
}

/* FOOTER SECTION*/